body{
  color:DarkCyan ;
  text-align: center;
  margin: 0px;
  font-family: 'Merriweather',serif;
  align-items: center;
}
h1{

  color: #40514E;
}
h2{
  font-size: 4rem;
}
p{
  font-size: 3rem;
}
textarea, #Login{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#TextField{
  width: 10rem;
  height:2rem;
}

.heading{
  color: white;
}

.Container-1-Login{

  background-image: url('images/Barbell.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  height:55rem;
  padding-left: 20rem;
  padding-right: 20rem;
  padding-top: 5rem;


}

  #Login{

    background:white;
    background-repeat: no-repeat;
    padding: 30px 60px;
    position: relative;
    width: 350px;
    height:300px;
    top: 20%;
    left: 50%;
    text-align: center;
    margin:-100px 0 0 -100px;
    font-size: auto;
    border: 1px solid #fff;


  }

  #SlideText{
    text-align: center;

  }
.Container-3-Login{
  background:#000000;
  background-repeat: no-repeat;
  background-size: 100%;
  height:100rem;
  text-align: center;
  padding-left: 10rem;
  padding-right: 10rem;


}
.Container-2-Login{
  background-color:gray;
  height:20rem;
  text-align: center;
  padding-left: 10rem;
  padding-right: 10rem;


}
.Login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;

}
.Login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/*Sliding Images*/

.carousel-caption {
position: absolute;
bottom: 10%;
left: 5%;
z-index: 30;
color: white;
text-shadow: 0 1px 2px rgba(0,0,0,.3);
text-align: center;
}

  .d-block{
   width:200px;
   height:800px;

  }
  .Sign-Up-Form{

    position: absolute;
    width: 650px;
    height:300px;
    top: 60%;
    left: 50%;
    text-align: left;
    align-items: center;
    background:black;
    margin:-200px 0 0 -450px;
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .setPassword-Form{
    position: absolute;
    width: 400px;
    height:250px;
    top: 60%;
    left: 60%;
    text-align: left;
    align-items: center;
    background:black;
    margin:-200px 0 0 -450px;
    padding-left: 8rem;
    padding-right: 8rem;




  }


/*Sign-up Button*/
.Sign-up-btn{
text-align: center;
}

/*forms background*/

.Forms{
    background-image:url('images/Rope.jpeg');
    background-repeat: no-repeat;
    background-size: 100%
}

/*Login Button Styling*/
.btn {
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2) );
	background:-moz-linear-gradient( center top, #33bdef 5%, #019ad2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2');
	background-color:#66BFBF;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
text-indent:0;
	border:1px solid #057fd0;
	display:inline-block;
	color:#ffffff;
	font-family: 'Montserrat'sans-serif;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px -1px 0px #5b6178;
}.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef) );
	background:-moz-linear-gradient( center top, #019ad2 5%, #33bdef 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef');
	background-color:#019ad2;
}.btn:active {
	position:relative;
	top:1px;
}

/*Admin page styling*/
.AdminPost{
  padding-top: 3rem;
}
.AdminPage,.userPage{
  background-color: black;

}
